$mainBackGround :#121212;
$mainColor: #bdbdbd;
$colorWhite : #fff;
$colorBlack:#000;
$colorMenuLink:#acacac;
$fontFamilyMontserrat: "Montserrat", sans-serif;
$transition: 0.5s;

@mixin flex($j-content:center,$a-items:center,$f-direction:row){
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
  flex-direction: $f-direction;
}

%btn-input-reset{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}