.menu{
  width: 315px;
  &__item{
    width: 100%;
  }
  &__link{
    width: 315px;
    height: 40px;
    backdrop-filter: blur(4px);
    background: linear-gradient(90deg, #802626 0%, #121212 100%);
    margin-bottom: 10px;
    @include flex(flex-start);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: $colorMenuLink;
    font-family: $fontFamilyMontserrat;
    transition:0.7s ;
    -webkit-transition:0.7s ;
    -moz-transition:0.7s ;
    -ms-transition:0.7s ;
    -o-transition:0.7s ;
    position: relative;
    z-index: 2;
    &:before{
      content:'' ;
      display: block;
      position: absolute;
      width: 315px;
      height: 42px;
      backdrop-filter: blur(4px);
      background: linear-gradient(90deg, #ca3333 65.52%, #141616 100%);
      top:0px;
      left:0px;
      z-index: -1;
      opacity: 0;
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
    }
  }
  &__img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__subitem{
    margin-top: 15px;
    margin-left: 15px;
    &:last-child{
      padding-bottom: 15px;
    }
  }
  &__sublink{
    font-family: $fontFamilyMontserrat;
    font-weight: 400;
    font-size: 14px;
    color: #acacac;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-bottom: 1px solid #acacac;
    width: 240px;
    padding-bottom: 11px;
    display: block;
    &:hover{
        border-color: #ca3333;
        color: #fff;
        transition: 0.5s;
    }
  }
  &__sublink_active{
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-color: #ca3333;
  }
}
.menu__link:hover.menu__link:before{
  opacity: 1;
  backdrop-filter: blur(4px);
  background: linear-gradient(90deg, #ca3333 65.52%, #141616 100%);
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.menu__link:hover{
 font-weight: 700;
 transition: 0.7s;
}
.menu__link_active{
  backdrop-filter: blur(4px);
  background: linear-gradient(135deg, #121212 0%, #9f3333 144%);
  transition: 0.7s;
  position: relative;
}