.content{
  width: 100%;
  margin-left: 30px;
  max-width: 1500px;
  padding-bottom: 80px;
  &__active{
    @include flex(space-between,flex-start);
    overflow-y: scroll;
    height: 100vh;
  }
  &__left{
    width: 100%;
    @include flex(space-between);
    flex-wrap: wrap;
    flex-basis: 60%;
  }
  &__right{
    flex-basis: 37%;
  }
  &__block{
    max-width: 270px;
    height: 350px;
    margin-bottom: 20px;
    cursor: pointer;
    flex-basis: 50%;
  }
  &__name{
    font-family: $fontFamilyMontserrat;
    font-weight: 700;
    font-size: 20px;
    color:$colorWhite;
    margin-top: 10px;
  }
  &__key{
    font-family: $fontFamilyMontserrat;
    font-weight: 700;
    font-size: 16px;
    color: #d3b445;
  }
  &__image{
    max-width: 270px;
    height: 140px;
    width: 100%;
  }
  &__info{
    margin-bottom: 10px;
  }
  &__title{
    color: $colorWhite;
  }
  &__text{
    margin: 10px 0px;
  }
  &__subtitle{
    color: #d3b445;
  }
  &__subtitle{
    margin: 10px 0;
  }
}

.content::-webkit-scrollbar {
  width: 3px;
}

.content::-webkit-scrollbar-track {
  background: #3f3d3d; 
}

.content::-webkit-scrollbar-thumb {
  background-color: #595a5e; 
  border-radius: 20px; 
}